:root{
    --images-per-row: 6;
    --color-dark: #000000;
    --color-dark-secondary: #14213d;
    --color-highlight: #fca311;
    --color-light-secondary: #aaa;
    --color-light-primary: #ffffff;
}
body{
    margin: 0;
    background-color: var(--color-dark);
}
.nav {
    font-size: 2em;
    font-family: sans-serif;
    border-bottom: var(--color-dark-secondary) solid 1px;
    padding: .2em;
    color: var(--color-light-primary);
}
#current-path {
    display: inline-block;
}
#current-path>span{
    margin: .3em .1em;
    padding: 0 .2em;
    vertical-align: middle;
}
#current-path .folder-name{
    border-radius: 0.2em;
}
#current-path .folder-name:hover{
    background-color: var(--color-dark-secondary);
}
#current-path .divider{
    color: var(--color-light-secondary);
    font-size: 60%;
    padding-bottom: 0.1em;
}
#options{
    float: right;
    display: inline-block;
}
#options>div{
    display: inline-block;
}
#options>div .filter{
    color: var(--color-light-secondary);
}
#options>div .filter.active{
    color: var(--color-light-primary);
}

#loading-indicator{
    opacity: 0;
    height: 1px;
    background-color: var(--color-highlight);
    width: 10%;
    position: absolute;
    animation: loading infinite 1s ease-in-out;
    transition: opacity 2s;
}
#loading-indicator.active{
    opacity: 1;
    transition: opacity 200ms;
}
@keyframes loading {
    0%{
        width: 0;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

.folder, .file, .file img {
    display: inline-block;
}
.folder {
    color: var(--color-light-primary);
    border: var(--color-dark-secondary) solid 3px;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    transition: background-color 500ms;
}
.folder:hover {
    background-color: var(--color-dark-secondary);
}
#files{
    font-size: 0;
}

.show-only-favs .file{
    display: none;
}
.show-only-favs .file.fav{
    display: inline-block;
}
.show-only-images .file.type-video,
.show-only-videos .file.type-image {
    display: none;
}

.file {
    width: calc( 100% / var(--images-per-row) );
    position: relative;
}
.file .overlay{
    font-family: sans-serif;
    font-size: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.file .overlay div{
    margin: 8px;
    padding: 6px;
    border-radius: 4px;
    background: #333;
    color: white;
    display: inline-block;
}
.file .overlay .fav{
    float: right;
    font-size: 2em;
    padding: 0;
    background: none;
}
.file .overlay .fav .far{
    opacity: 0;
    transition: opacity 500ms;
    cursor: pointer;
}
.file:hover .overlay .fav .far{
    opacity: 1;
}

.file.type-other {
    background: rgba(189, 81, 81, 0.34);
}

.file img{
    width: 100%;
}
.file img.orientation-1{
    transform: rotate(0deg);
}
.file img.orientation-6{
    transform: rotate(90deg);
}
.file img.orientation-8{
    transform: rotate(270deg);
}